@charset "UTF-8";

.WX_search_frm,
.WX_search_txt {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.WX_search_txt {
  /*background-image: url("http://placehold.it/16x16");*/
}

* {
  -webkit-tap-highlight-color: transparent;
  outline: 0;
}

.WX_search {
  background-color: #EFEFEF;
  height: 44px;
  position: relative;
  z-index: 300;
  border-bottom: 1px solid #ddd;
}

.WX_search_frm {
  height: 45px;
  padding: 0 10px 0 43px;
}

.WX_search_txt {
  float: left;
  width: 100%;
  display: block;
  height: 30px;
  border-radius: 3px;
  border: 0 none;
  margin-top: 7px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 8px 50%;
  background-size: 15px 15px;
  -webkit-background-size: 15px 15px;
  -webkit-appearance: none;
  font-size: 14px;
}

.WX_search_clear {
  width: 22px;
  height: 22px;
  padding: 4px;
  color: transparent;
  position: absolute;
  z-index: 2;
  right: 10px;
  top: 7px;
  background-origin: content-box;
  background-position: -176px -11px;
}

.WX_search_btn {
  height: 44px;
  overflow: hidden;
  line-height: 44px;
  font-size: 16px;
  display: block;
  text-align: center;
  color: #007AFF;
}

.WX_search_btn_blue {
  height: 30px;
  overflow: hidden;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  background-color: #007AFF;
  color: #FFF;
  margin-top: 7px;
  margin-left: 6px;
  padding: 0 5px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}

.WX_me {
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 44px;
}

.WX_search_clear {
  background-image: url(/wx/img/mall/icon_bar.png?t=1);
  background-repeat: no-repeat;
  background-size: 220px 132px;
  -webkit-background-size: 220px 132px;
}

/*  |xGv00|4c46e1cf75ebd558c90da6014cba532a */

@charset "UTF-8";

.category2 dd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.category2 dd:after {
  clear: both;
  content: '\20';
  display: block;
}

.wx_wrap {
  min-height: 375px;
}

@media only screen and (max-height: 480px) {
  .wx_wrap {
    min-height: 360px;
  }
}

.WX_search_frm {
  padding: 0 10px;
}

.WX_search_frm:after {
  display: none;
}

.category1 {
  background-color: #f3f3f3;
  width: 100%;
}

.category1 li {
  height: 44px;
  line-height: 44px;
  padding: 0 10px;
  border-top: 1px solid #e5e5e5;
  text-align: center;
}

.category1 li:first-child {
  border-top: 0;
}

.category1 .cur {
  color: #ec4c4c;
  position: relative;
}

.category1 .cur:after {
  content: '\20';
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  font-size: 0;
  display: inline-block;
  border-width: 5px;
  border-color: transparent #ec4c4c transparent transparent;
  border-style: dashed solid dashed dashed;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5px;
}

.category2 {
  background-color: #FFF;
  margin: 0 10px 10px 10px;
}

.category2 dt {
  margin-top: 5px;
  line-height: 2;
  color: #333;
}

.category2 dd {
  padding-right: 10px;
}

.category2 dd a {
  float: left;
  width: 33.33%;
  min-height: 80px;
  font-size: 12px;
  padding: 4px 0;
  margin: 5px 5px 5px 0;
  text-align: center;
  background-color: #f8f8f8;
}

.category2 dd a:nth-child(3n) {
  margin-right: -10px;
}

.category2 dd .tit {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
  line-height: 34px;
}

.category2 dd img {
  width: 50px;
  height: 50px;
}

.guanggao {
  padding: 10px 10px 0 10px;
  display: block;
  min-height: 60px;
}

.guanggao img {
  max-width: 100%;
  min-height: 60px;
}

.scroll {
  overflow: hidden;
  position: absolute;
  top: 45px;
  background-color: rgb(243, 243, 243);
  min-height: 450px;
}

#left_sroll {
  width: 25%;
  left: 0px;
}

#right_sroll {
  width: 75%;
  left: 25%;
}

/*  |xGv00|cbc7e1bedde69d68216eb7ffd974d834 */
