.album {
    height: 3.9rem;
    position: relative;
    overflow: hidden;
}

.album img {
    width: 100%;
    min-height: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
    position: relative;
}

.album .desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    height: .56rem;
    line-height: .56rem;
    font-size: .24rem;
    background: rgba(0, 0, 0, .5);
}

ul.ul {
    list-style-type: initial;
    padding-left: .4rem;
}

ul.ul li {
    font-size: .3rem;
    margin: .1rem 0;
    line-height: 1.5;
}

    /*///*/
#deal-detail .buy-price {
    color: #999;
    position: relative;
}

.buy-price .price {
    vertical-align: text-top;
}

.buy-price strong {
    font-size: .66rem;
}

.buy-price space {
    width: .16rem;
}

.list .buy-price .buy-btn {
    position: absolute;
    margin: 0;
    right: .2rem;
    top: .21rem;
    width: 2.6rem;
    margin-top: 0;
}

.buy-desc h1 {
    font-size: .36rem;
    margin: 0;
    margin-bottom: .22rem;
    color: #000;
}

.buy-desc p {
    margin: 0;
    color: #666;
}

    /*agreement*/
.agreement li {
    display: inline-block;
    width: 50%;
    margin-bottom: .22rem;
    box-sizing: border-box;
    color: #666;
}

.agreement li:nth-child(2n) {
    padding-left: .14rem;
}

.agreement li:nth-child(1n) {
    padding-right: .14rem;
}

.agreement ul.agree li {
    height: .32rem;
    line-height: .32rem;
}

.agreement ul.agree li.active {
    color: #6bbd00;
}

.agreement ul.btn-line li {
    vertical-align: middle;
    margin-top: .06rem;
    margin-bottom: 0;
}

.agreement .text-icon {
    margin-right: .14rem;
    vertical-align: top;
    height: 100%;
}

.agreement .agree .text-icon {
    font-size: .4rem;
    margin-right: .2rem;
}

    /* 通用星星样式 */
.stars {
    font-style: normal;
    font-size: .36rem;
    line-height: .36rem;
}

.buy-comment {
    float: right;
}

.voice-info {
    font-size: .3rem;
    color: #eb8706;
}

#deal-details .detail-title {
    background-color: #F8F9FA;
    padding: .2rem;
    font-size: .3rem;
    color: #000;
    border-bottom: 1px solid #ccc;
}

#deal-details .detail-title p {
    text-align: center;
}

#deal-details .detail-group {
    font-size: .3rem;
    display: -webkit-box;
    display: -ms-flexbox;
}

.detail-group .left {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    display: block;
    padding: .28rem 0;
    padding-right: .2rem;
}

.detail-group .right {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-box-align: center;
    width: 60%;
    padding: .28rem .2rem;
    border-left: 1px solid #ccc;
}

.detail-group .middle {
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-box-align: center;
    width: 1.7rem;
    padding: .28rem .2rem;
    border-left: 1px solid #ccc;
}

#deal-terms {
    font-size: .3rem;
}

.js-fav-btn .fav-text {
    vertical-align: top;
}

.js-fav-btn .fav-text:after {
    content: "收藏";
}

.js-fav-btn .icon-star {
    display: none
}

.js-fav-btn .icon-star-empty {
    display: inline-block
}

.js-fav-btn.faved .fav-text:after {
    content: "取消收藏";
}

.js-fav-btn.faved .icon-star {
    display: inline-block
}

.js-fav-btn.faved .icon-star-empty {
    display: none
}

.comment-headline {
    color: #999;
    line-height: .35rem;
}

    /* 酒店和促銷工具 */
.hotel-desc-current {
    color: #999;
    margin-left: .08rem;
}

dl.list .hotel-price-panel {
    background: #f0efed;
    border-left: none;
    border-right: none;
}

.hotel-prices {
    padding: .1rem 0;

}

.hotel-prices>li {
    display: inline-block;
    width: 1.88rem !important;
    padding: .06rem .1rem .06rem .2rem;
    text-align: left;
    font-size: .24rem;
    color: #666;
}

.hotel-prices>li:after {
    content: ' ';
    display: table;
    margin-top: -30%;
    border-left: 1px solid #ccc;
    padding-top: 25%;
    float: right;
    clear: both;
}

.hotel-prices>li.active {
    color: #2dbeae;
}
.campaign .tag,
.campaign-item .tag {
    position: static;
    margin-left: .04rem;
    background: #ff8c00;
    color: #fff;
    line-height: 1.5;
    display: inline-block;
    padding: 0 .06rem;
    text-align: center;
    font-size: .24rem;
    border-radius: .06rem;
}

.hotel-price {
    color: #ff8c00;
    font-size: .24rem;
    display: block;
}

.campaign {
    height: .48rem;
}

.campaign .tag {
    font-size: .28rem;
}

.campaign-tip {
    padding-top: .24rem;
    padding-bottom: .24rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd8ce;
    color: #555;
}
.btn-kefu {
    position: absolute;
    right: .016rem;
    top: .1rem;
    color: #ff8c00;
    border-color: #ff8c00;
}

/* 以上代码 会废弃*/
.nvbt {
    width: 20%;
}

.nvtt {
    width: 60%;
}

.form-text {
    width: 70%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border: 1px solid #cccccc;
    background: #FFFFD8
}

.content {
    margin: 0 1em;
    padding-bottom: 44px;
    padding-top: 10px;
}

.ipt {
    margin-bottom: 1em;
}

.btnlist {
    text-align: center;
    margin: 0 auto;
}

.btnt {
    width: 70%;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #2bb2a3;
    border: 1px solid #ecb100;
    padding: .5em 0;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.info-msg {
    padding-top: 1em;
    color: #FF6600
}

.btnitem {
    margin-top: 1em;
}

.btn-back {
    font-size: 16px;
    padding-left: 1em;
}

.clear {
    clear: both;
}

.pro-desc .start {
    margin-bottom: 6px;
}

.pro-desc .name {
    margin-bottom: 4px;
    margin-top: 5px;
    color: #070027;
    font-size: 16px;
    font-weight: bold;
}

.pro-desc .desc {
    margin-bottom: 4px;
    line-height: 1.5em;
    color: #909090;
    font-size: 12px;
}

.pro-desc div .fs img {
    margin-right: 3px;
}

.pro-desc div .linev {
    padding: 0 3px;
}

.pro-desc div img {
    vertical-align: middle
}

.pro-desc .addr {
    margin-bottom: 4px;
}

.pro-desc .spec {
    margin-bottom: 4px;
}

.pro-desc .can {
    margin-bottom: 14px;
}

.show-cart-info {
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: fixed;
    bottom: 0;
    left: 0;
    background: #fff;
    z-index: 8000;
    -webkit-box-shadow: 0 1px 6px #CCC;
    box-shadow: 0 1px 6px #CCC;
    background: #fff
}

.show-cart-info .c-left {
    float: left;
    padding-left: 10px;
    font-size: 14px;
}

.show-cart-info .c-left .em {
    margin-right: 1em;
}

.show-cart-info .c-left .im {
    color: #FF6600
}

.show-cart-info .c-left .num {
    padding: 0 2px;
}

.show-cart-info .c-left .mak {
    color: #999;
    font-size: 16px;
    text-decoration: line-through;
}

.show-cart-info .c-right {
    position: fixed;
    right: 5px;
    padding-top: 5px;
}

.show-cart-info .c-back {
    float: left;
    padding-left: 5px;
    padding-right: 0;
}

.show-cart-info .c-back a {
    float: right;
    padding: 0 20px;
    height: 34px;
    margin-top: 5px;
    margin-left: 3px;
    line-height: 34px;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #2bb2a3;
}

.show-cart-info .c-back a:hover {
    color: #fff;
    background: #FF6600
}

.show-cart-info .c-back a:active {
    color: #fff;
    background: #FF6600
}

.btn_buy {
    float: right;
    padding: 0 15px;
    height: 34px;
    margin-left: 3px;
    line-height: 34px;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #2bb2a3;
}

.btn_buy:hover {
    color: #fff;
    background: #FF6600
}

.btn_buy:active {
    color: #fff;
    background: #FF6600
}

.btn_none {
    float: right;
    padding: 0 15px;
    height: 34px;
    margin-left: 3px;
    line-height: 34px;
    border: 0;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    text-align: center;
    color: #fff;
    background-color: #888;
}

.btn_none:hover {
    color: #fff;
    background: #888
}

.btn_none:active {
    color: #fff;
    background: #888
}

.pro_info {
    line-height: 1.5em;
    margin-top: 1em;
    padding-bottom: 10px;
}

.pro_info img {
    width: 100%;
    height: auto;
}

.pro_tl {
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    border-bottom: solid 1px #ccc;
    margin-bottom: 1em;
}

.pro-img {
    margin-top: 64px;
}

.pro-img img {
    width: 100%;
    height: auto;
}

.info-cx {
    padding: 10px;
    margin-top: 44px;
    line-height: 1.5em;
    border-bottom: solid 1px #ccc;
    background: #FFFFD8;
}

.info-cx span {
    padding: 0 2px;
    color: #2bb2a3;
}

.good-details {
    padding: 20px 5px;
    background: white;
}
.image-details p {
    padding: 20px 5px;
    border-bottom: 1px solid #ddd8ce;
    background: white;
    margin: 1px;
    font-size: .34rem;
}
