<!-- <div class="nav-bckar">
  <ul class="nav">
    <li class="dropdown-toggle caret category">
      <span class="nav-head-name">首页</span>
    </li>
    <li class="dropdown-toggle caret biz subway" >
      <span class="nav-head-name">全城</span>
    </li>
    <li class="dropdown-toggle caret sort">
      <span class="nav-head-name">默认排序</span>
    </li>
  </ul>
  <div class="dropdown-wrapper">
    <div class="dropdown-module">
      <div class="sub-nav">
        <ul class="tab">
          <li class="active" data-subnav="biz">商区</li>
          <li data-subnav="subway">地铁站</li>
        </ul>
      </div>
      <div class="scroller-wrapper">
        <div id="dropdown_scroller" class="dropdown-scroller">
          <ul>
            <li class="category-wrapper">
              <ul class="dropdown-list"></ul>
              <li class="biz-wrapper">
                <ul class="dropdown-list"></ul>
                <li class="brand-wrapper">
                  <ul class="dropdown-list"></ul>
                  <li class="sort-wrapper">
                    <ul class="dropdown-list"></ul>
                    <li class="subway-wrapper">
                      <ul class="dropdown-list"></ul>
          </ul>
        </div>
        <div id="dropdown_sub_scroller" class="dropdown-sub-scroller">
          <ul class="dropdown-list">
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 -->

<!-- 活动广告栏 -->
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><a><img src="http://placehold.it/540x230"/></a></div>
    <div class="swiper-slide"><a><img src="http://placehold.it/540x230"/></a></div>
    <div class="swiper-slide"><a><img src="http://placehold.it/540x230"/></a></div>
    <div class="swiper-slide"><a><img src="http://placehold.it/540x230"/></a></div>
    <div class="swiper-slide"><a><img src="http://placehold.it/540x230"/></a></div>
  </div>
  <div class="pagination"></div>
</div>


<!-- 类别栏（7七个优先显示大类+ 更多） -->
<div class="daolist">
  <div class="daolist-v">
    <a href="#"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">蔬菜瓜果</span></a>
    <a href="#"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">粮油米面</span></a>
    <a href="#"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">南北干货</span></a>
    <a href="#" style="margin-right:0"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">五谷杂粮</span></a>
  </div>
  <div class="clear"></div>
  <div class="daolist-v" style="padding-top:20px">
    <a href="#"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">鱼肉蛋奶</span></a>
    <a href="#"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">地域特产</span></a>
    <a href="#"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">田鲜易购</span></a>
    <a href="#" style="margin-right:0"><span class="pic"><img src="http://placehold.it/69x50"/></span><span class="tt">这里更多</span></a>
  </div>
  <div class="clear"></div>
</div>


<!-- 四大活动板块 -->
<div class="rukou">
    <a href="#"><img src= "http://placehold.it/160x69" /></a>
    <a href="#"><img src= "http://placehold.it/160x69" /></a>
    <a href="#"><img src= "http://placehold.it/160x69" /></a>
    <a href="#"><img src= "http://placehold.it/160x69" /></a>
</div>
<div class="clear"></div>


<!-- 今日特价 -->
<div class="tejia">
  <p>今日特价</p>
<!--   <div class="tla">
    <img class="pic" src="/images/huodong/inx_tl_tejia2.jpg" />
  </div>
  <div class="clear"></div>
  <div class="list_tejia"></div>
  <div class="clear"></div>
 --></div>

<!-- 新品推荐 -->

<div class="content_tt">
  <!--蔬菜瓜果-->
  <div class="cat-title">
    <a href="/shop/BuyEasy.aspx?catid=9"><span class="hicon scgg"></span><span class="tt">蔬菜瓜果</span><span class="prev"></span></a>
  </div>
  <div class="pro_inx_list">
    <a class="goods01" href="/Shop/ProductDetail.aspx?ProductID=896">
    <span class="tc tc-big">
    <span class="new"></span>
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls">美国金银粟玉米</span>
    <span class="desc">优良品种，具有甜/鲜/脆/嫩的特色，可以像水果一样生吃。</span>
    </span>
    </a>
    <a class="goods02" href="/Shop/ProductDetail.aspx?ProductID=504">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls">贝贝南瓜</span>
    <span class="desc">香甜可口、肉质粉度超板栗。</span>
    </span>
    </a>
    <a class="goods03" href="/Shop/ProductDetail.aspx?ProductID=2293">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#70b00e">荷兰三色椒</span>
    <span class="desc">果肉厚而脆嫩，富含维C，可凉拌煮食。</span>
    </span>
    </a>
    <div class="clear">
    </div>
  </div>
  <!--粮油米面-->
  <div class="cat-title">
    <a href="/shop/BuyEasy.aspx?catid=137"><span class="hicon lymm"></span><span class="tt">粮油米面</span><span class="prev"></span></a>
  </div>
  <div class="pro_inx_list">
    <a class="goods01" href="/Shop/ProductDetail.aspx?ProductID=1784">
    <span class="tc tc-big">
    <span class="best"></span>
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#1f5c3c">万历山野茶油</span>
    <span class="desc">原生态、纯物理低温冷榨、健康、营养。</span>
    <span class="price"><label>¥</label><span>108</span></span>
    </span>
    </a>
    <a class="goods02" href="/Shop/ProductDetail.aspx?ProductID=1820">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#a02b20">富硒香米</span>
    <span class="desc">口感细腻松软、天然富硒、食用健康价值极高</span>
    </span>
    </a>
    <a class="goods03" href="/Shop/ProductDetail.aspx?ProductID=2051">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#f47813">金丝面</span>
    <span class="desc">细面 耐煮爽滑挂面面条</span>
    </span>
    </a>
    <div class="clear">
    </div>
  </div>
  <!--五谷杂粮-->
  <div class="cat-title">
    <a href="/shop/BuyEasy.aspx?catid=155"><span class="hicon wgzl"></span><span class="tt">五谷杂粮</span><span class="prev"></span></a>
  </div>
  <div class="pro_inx_list">
    <a class="goods01" href="/Shop/ProductDetail.aspx?ProductID=1810">
    <span class="tc tc-big">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#644934">托古1号小米</span>
    <span class="desc">香滑可口、滋阴补虚，是老幼、孕妇最适宜补品。</span>
    <span class="price"><label>¥</label><span>46</span></span>
    </span>
    </a>
    <a class="goods02" href="/Shop/ProductDetail.aspx?ProductID=1900">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#9c9615">东北绿豆</span>
    <span class="desc">清热解毒、降血脂，对舒缓皮肤有一定功效。</span>
    </span>
    </a>
    <a class="goods03" href="/Shop/ProductDetail.aspx?ProductID=2062">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#f47813">建宁白莲</span>
    <span class="desc">粒大饱满、洁白圆润、质感细腻、清香鲜甜。</span>
    </span>
    </a>
    <div class="clear">
    </div>
  </div>
  <!--南北干货-->
  <div class="cat-title">
    <a href="/shop/BuyEasy.aspx?catid=156"><span class="hicon nbgh"></span><span class="tt">南北干货</span><span class="prev"></span></a>
  </div>
  <div class="pro_inx_list">
    <a class="goods01" href="/Shop/ProductDetail.aspx?ProductID=2036">
    <span class="tc tc-big">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#f6971a">云南美味牛肝菌</span>
    <span class="desc">云南特产 特级牛肝菌 食用菌干货 牛肝菇 香菇食用菌</span>
    <span class="price"><label>¥</label><span>48</span></span>
    </span>
    </a>
    <a class="goods02" href="/Shop/ProductDetail.aspx?ProductID=1643">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#2c3b45">东北黑木耳</span>
    <span class="desc">东北特产 野生秋耳 干货 无根肉厚</span>
    </span>
    </a>
    <a class="goods03" href="/Shop/ProductDetail.aspx?ProductID=2096">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#f47813">福建小花菇</span>
    <span class="desc">金钱菇 椴木 蘑菇小花菇 干货香菇</span>
    </span>
    </a>
    <div class="clear">
    </div>
  </div>
  <!--地域特产-->
  <div class="cat-title">
    <a href="/shop/BuyEasy.aspx?catid=54"><span class="hicon dytc"></span><span class="tt">地域特产</span><span class="prev"></span></a>
  </div>
  <div class="pro_inx_list">
    <a class="goods01" href="/Shop/ProductDetail.aspx?ProductID=1765">
    <span class="tc tc-big">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#961a0f">新疆大漠仙枣</span>
    <span class="desc">新疆和田大枣 优质红枣 可煲汤可作特产休闲零食</span>
    <span class="price"><label>¥</label><span>68</span></span>
    </span>
    </a>
    <a class="goods02" href="/Shop/ProductDetail.aspx?ProductID=1801">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#2c3b45">长白山椴树蜜</span>
    <span class="desc">椴树蜂蜜 纯天然 高浓度蜂蜜 养胃补虚 </span>
    </span>
    </a>
    <a class="goods03" href="/Shop/ProductDetail.aspx?ProductID=2167">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#a9691b">天山良品核桃</span>
    <span class="desc">产于天山、冰川水灌溉通润血脉、强心健体</span>
    </span>
    </a>
    <div class="clear">
    </div>
  </div>
  <!--食疗养生-->
  <div class="cat-title">
    <a href="/shop/BuyEasy.aspx?catid=158"><span class="hicon slyc"></span><span class="tt">食疗养生</span><span class="prev"></span></a>
  </div>
  <div class="pro_inx_list">
    <a class="goods01" href="/Shop/ProductDetail.aspx?ProductID=1791">
    <span class="tc tc-big">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#ea447b">巴马养生系列</span>
    <span class="desc">寿星粥/红梗米/黄小豆/三色米火麻仁/香米/墨米/珍珠黄玉米头</span>
    <span class="price"><label>¥</label><span>18</span></span>
    </span>
    </a>
    <a class="goods02" href="/Shop/ProductDetail.aspx?ProductID=2246">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#2c3b45">黑枸杞</span>
    <span class="desc">高海拔野生黑枸杞 增强免疫力、延缓衰老</span>
    </span>
    </a>
    <a class="goods03" href="/Shop/ProductDetail.aspx?ProductID=2043">
    <span class="tc tc-small">
    <span class="pic"><img src="http://placehold.it/134x125"/></span>
    <span class="tls" style="color:#70090f">老五屯八宝米</span>
    <span class="desc">有机八宝米 东北大米八宝粥 五谷杂粮</span>
    </span>
    </a>
    <div class="clear">
    </div>
  </div>
  <div class="clear">
  </div>
  <!--主题馆-->
  <div class="cat-title">
    <a><span class="hicon ztg"></span><span class="tt" style=" padding-top:0; ">主题馆</span><span class="prev" style="margin-top:9px; "></span></a>
  </div>
  <div class="clear">
  </div>
  <div class="ztg-list">
    <ul>
      <li>
      <a class="cont" href="/shop/ProductCat.aspx?catid=9">
      <div class="dao">
        <div class="tls">
          蔬菜瓜果馆
        </div>
        <div class="link">
          进口玉米/黑茄/三色椒
        </div>
      </div>
      <div class="pic">
        <img src="http://placehold.it/134x125"/>
      </div>
      </a>
      </li>
      <li class="last">
      <a class="cont" href="/shop/ProductCat.aspx?catid=137">
      <div class="dao">
        <div class="tls">
          粮油米面
        </div>
        <div class="link">
          高山茶油/蔬菜挂面/有机大米
        </div>
      </div>
      <div class="pic">
        <img src="http://placehold.it/134x125"/>
      </div>
      </a>
      </li>
      <li>
      <a class="cont" href="/shop/ProductCat.aspx?catid=155">
      <div class="dao">
        <div class="tls">
          五谷杂粮
        </div>
        <div class="link">
          黑芝麻/荞麦米/红豆/小麦仁
        </div>
      </div>
      <div class="pic">
        <img src="http://placehold.it/134x125"/>
      </div>
      </a>
      </li>
      <li class="last">
      <a class="cont" href="/shop/ProductCat.aspx?catid=156">
      <div class="dao">
        <div class="tls">
          南北干货
        </div>
        <div class="link">
          猴头菇/木耳/野生松茸/核桃
        </div>
      </div>
      <div class="pic">
        <img src="http://placehold.it/134x125"/>
      </div>
      </a>
      </li>
      <li>
      <a class="cont" href="/shop/ProductCat.aspx?catid=54">
      <div class="dao">
        <div class="tls">
          特色产品
        </div>
        <div class="link">
          黑枸杞/野生树蜜/杏花鸡
        </div>
      </div>
      <div class="pic">
        <img src="http://placehold.it/134x125"/>
      </div>
      </a>
      </li>
      <li class="last">
      <a class="cont" href="/shop/ProductCat.aspx?catid=158">
      <div class="dao">
        <div class="tls">
          休闲零食
        </div>
        <div class="link">
          开心果/提子干
        </div>
      </div>
      <div class="pic">
        <img src="http://placehold.it/134x125"/>
      </div>
      </a>
      </li>
    </ul>
    <div class="clear">
    </div>
  </div>
  <div class="clear">
  </div>
</div>

<footer class="navbar">
  <ul>
    <li class='active'>
      <a class="react" href="/">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/home.png" />首页
        </span>
      </a>
    </li>
    <li>
      <a class="react" href="/#/category">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/category.png" />分类
        </span>
      </a>
    </li>
    <li>
      <a class="react" href="/#/show/1">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/cart.png" />购物车
        </span>
      </a>
    </li>
    <li>
      <a class="react ">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/user.png" />我的
        </span>
      </a>
    </li>
  </ul>
</footer>
