<footer class="navbar">
  <ul>
    <li class='active home'>
      <a class="react" href="/">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/home.png" />首页
        </span>
      </a>
    </li>
    <li class="category">
      <a class="react" href="/#/category">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/category.png" />分类
        </span>
      </a>
    </li>
    <li class="cart">
      <a class="react" href="/#/cart">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/cart.png" />购物车
        </span>
      </a>
    </li>
    <li class="user">
      <a class="react " href="/#/user">
        <span class="nav-btn">
          <img class="footer-icon" src="/images/user.png" />我的
        </span>
      </a>
    </li>
  </ul>
</footer>
