<div id="tips"></div>

<div id="deal" class="deal">
  <div class="list">
    <div class="album" data-com="album" data-page="0" gaevent="" data-pics="">
      <img src="http://placehold.it/440x267">
      <div class="desc">点击图片查看相册</div>
    </div>
    <dl class="list list-in">
      <dd class="dd-padding buy-price">
        <div class="price">
          <strong class="J_pricetag strong-color">1</strong><span class="strong-color">元</span>
          <space>
          </space>
          <del>96元</del>
        </div>
        <a class="btn buy-btn btn-large btn-strong" href="" data-stid="" gaevent="imt/deal/buyBtn">立即购买</a>
      </dd>
      <dd class="dd-padding buy-desc">
        <h1>杨梅人家</h1>
        <p class="explain">仅售1元！价值96元的火锅套餐新，建议2-10人使用，提供免费WiFi。</p>
      </dd>
      <dd class="dd-padding agreement">
        <ul class="agree">
          <li class="active"><i class="text-icon">◐</i>支持随时退款
            <li class="active"><i class="text-icon">◑</i>支持过期退款
              <li><i class="text-icon">◒</i>剩余3天以上
                <li><i class="text-icon">◓</i>已售569
        </ul>
        <ul class="btn-line">
          <li><a class="btn btn-weak btn-block" gaevent="imt/deal/share" data-com="share" data-share-text="在美团发现一个不错的团购哦，您也来看看吧。仅售1元!杨梅人家" data-share-pic=""></i>分享</a>
          <li><a class="js-fav-btn btn btn-weak btn-block" gaevent="imt/deal/fav"><i class="text-icon icon-star"></i><iclass="text-icon icon-star-empty"></i><span class="fav-text"></span></a>
        </ul>
      </dd>
    </dl>
  </div>
  <dl class="list">
    <dd>
      <a class="react" href="javascript:;">
        <div class="more more-weak comment-headline">
          <span class="stars"><i class="text-icon icon-star-gray"></i><i class="text-icon icon-star-gray"></i><i class="text-icon icon-star-gray"></i><i class="text-icon icon-star-gray"></i><i class="text-icon icon-star-gray"></i><em class="star-text">0.0</em></span>
          <span class="pull-right">0人评价</span>
        </div>
      </a>
    </dd>
  </dl>
  <dl class="list">
    <dd>
      <dl>
        <dt gaevent="imt/deal/bizinfo">商家信息</dt>

        <dd class="dd-padding">
          <div class="merchant">
            <div class="biz-detail">
              <a gaevent="imt/detail/merchant" class="react" href="http://i.meituan.com/poi/6150373">
                <h5 class="title single-line"> 杨梅人家</h5>

                <div class="address single-line">番禺区大石礼村低围商业街15号（地铁3号线大石站C出口往南京市100米）</div>
              </a>
            </div>
            <div class="biz-call">
              <a gaevent="imt/detail/bizPhone" data-com="phonecall" class="react phone" href="javascript:void(0);" data-tele="020-39936363"><i class="text-icon">✆</i></a>
            </div>
          </div>
        </dd>
      </dl>
    </dd>
  </dl>

  <dl id="deal-details" class="list">
    <dt gaevent="imt/deal/details">套餐</dt>
    <dd class="detail-title">
      <p>方案内容</p>
    </dd>

    <dd>
      <dl>
        <dd class="detail-group">
          <span class="left">松茸菌锅底</span>
          <span class="middle">1份</span>
          <span class="right">48元</span>
        </dd>

        <dd class="detail-group">
          <span class="left">三寸排骨</span>
          <span class="middle">1份</span>
          <span class="right">28元</span>
        </dd>

        <dd class="detail-group">
          <span class="left">招牌捞粉</span>
          <span class="middle">1份</span>
          <span class="right">20元</span>
        </dd>
      </dl>
    </dd>

    <dd class="db">
      <a class="react" id="deal_more" gaevent="imt/deal/more" href="http://i.meituan.com/deal/details/26878222" data-stid="360408083020086528_c0_e7f984116f92b91b289c55cf2c931d45d_b2">
        <div class="more">查看图文详情</div>
      </a>
    </dd>
  </dl>
  <dl id="deal-terms" class="list">
    <dd>
      <dl>
        <dt gaevent="imt/deal/terms">购买须知</dt>
        <dd class="dd-padding">
          <ul class="ul">
            <li>有效期：2014.11.15 至 2014.12.14
            </li>
            <li>有效期内周末、法定节假日通用
            </li>
            <li>美团券使用时间：11:00-21:00
            </li>
            <li>无需预约，消费高峰时可能需要等位
            </li>
            <li>每张美团券最多10人使用，不论是否儿童均计入人数
            </li>
            <li>餐巾纸费：按店内标准收取
            </li>
            <li>茶位费：按店内标准收取
            </li>
            <li>不可使用包间
            </li>
            <li>仅限堂食，不提供餐前外带，餐毕未吃完可打包，打包费详情咨询商家
            </li>
            <li>每张桌子限用一份
            </li>
            <li>团购用户不可同时享受商家其他优惠
            </li>
            <li>方案内人数免费提供餐具，超出人数详询商家
            </li>
            <li>酒水饮料等问题，请致电商家咨询，以商家反馈为准
            </li>
            <li>如部分菜品因时令或其他不可抗因素导致无法提供，店内会用等价菜品替换，具体事宜请与店内协商
            </li>
            <li>提供免费WiFi
            </li>
            <li>停车位收费标准：免费停车，数目不定</li>
          </ul>
        </dd>
      </dl>
    </dd>
  </dl>


  <div class="btn-wrapper">
    <a class="btn buy-btn btn-block btn-larger btn-strong" href="http://i.meituan.com/deal/buy/26878222" data-stid="360408083020086528_c0_e7f984116f92b91b289c55cf2c931d45d_b2" gaevent="imt/deal/buyBtn">立即购买</a>
  </div>
  <div id="recommand"></div>
</div>
<div id="J_canBuy" data-canbuy="1" style="display: none"></div>


<div class="cart-info">
  <div class="c-back">
    <a href="javascript:history.back()">返回</a>
  </div>
  <div class="c-left">
    <div class="c-price">
      <span class="em"><span id="lblPriceText">价格</span>：<span class="im">¥8.80</span></span>
    </div>
  </div>
  <div class="c-right">
    <a href="javascript:;" class="btn_buy" onclick="cart.addCartCom(1182,1)">加入购物车</a>
  </div>
</div>
