<div class="information">
  <div class='account-img'>
    <img src="/images/user.jpg" alt="user icon">
  </div>
  <div class="account-info">
    <p>账户: WX201401912</p>
    <p>余额: ￥20.20</p>
    <p>邮箱: gdjyluxiaoyong@gmail.com</p>
  </div>
</div>
<div class="details">
  <ul>
    <li>
      <span>我的订单</span>
      <img class='arrow-right' src="/images/arrow-right.png"/>
    </li>
    <li>
      <span>地址管理</span>
      <img class='arrow-right' src="/images/arrow-right.png"/>
    </li>
    <li>
      <span>个人信息</span>
      <img class='arrow-right' src="/images/arrow-right.png"/>
    </li>
  </ul>
</div>
